:root {
    --blue-pendent: #0F3679;
    /*Pendências*/
    --blue-escuro-left: #0D5EAF;
    /*Lateral esquerda*/
    --blue-cinsa: #F2F9FD;
    --blue-detalhes: #2E96C9;
    /*Informática*/
    --blue-eletro: #4FADDB;
    /*Mais itens*/
    --blue-comercio: #90CAE9;
    --cinsa-cancel: #E7EBF2;
    /*Pedidos de cancelamento*/
    --blue-entrega: #3F5E94;
    /*Entrega kits*/
    --blue-editar: #0F6ECD;
    --bg-white-e5: #E5E7EB;
    --white-fe: #FEFEFE;
    --black-numbers-37: #374151;
    --black-dow-49: #494E57;
  
    --font-up-dow-right: "Roboto";
    --font-left-center: "Inter";
    --font-titulos: "Archivo";
    --font-degrade: "Montserrat";
  }
  
  body {
    margin: 0px auto;
    max-width: 1440px;
  }
  
  .container {
    display: flex;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: var(--cinsa-cancel) 1px solid;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .left-header {
    margin-left: 20px;
  }
  
  .right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .button {
    background-color: #FF6600;
    border: 0px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .button:hover {
    background-color: #FD8535;
  }
  
  .button strong {
    color: var(--white-fe);
    margin-right: 10px;
  }
  
  .usuario {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .usuario strong {
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--font-up-dow-right);
    color: var(--blue-pendent);
  }