.header-funcoes {
    padding-bottom: 15px;
  }
  
  .str,
  .sml {
    font-family: var(--font-up-dow-right);
    color: var(--black-dow-49);
  }
  
  .str {
    font-size: 18px;
    margin: 0px;
  }
  
  .sml {
    font-size: 16px;
  }
  
  .botoes-funcoes {
    display: flex;
    justify-content: space-between;
  }
  
  .buts-funcao .botao,
  .botao-add {
    margin-right: 20px;
  }
  
  .buts-funcao .botao:hover,
  .botao-add:hover {
    background-color: var(--blue-detalhes);
  }
  
  .buts-funcao .botao:hover small {
    color: white;
  }
  
  .buts-funcao,
  .botao-add:hover small {
    color: white;
  }
  
  .buts-funcao .botao:hover .stroke {
    stroke: #fff;
  }
  
  .buts-funcao .botao-add:hover .stroke {
    stroke: #fff;
  }
  
  .botao,
  .botao-add,
  .botao-more {
    border: 1px solid;
    border-color: var(--blue-detalhes);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(15, 54, 121, 0.15);
  }
  
  .botao,
  .botao-more {
    width: 110px;
    height: 110px;
    padding: 0px;
  }
  
  .botao-add {
    padding: 18px;
    height: 110px;
  }
  
  .botoes-funcoes .botao-more {
    border: 1px dashed;
    border-color: #90CAE9;
    background-color: #FCFCFC;
  }
  
  .botoes-funcoes small {
    font-family: var(--font-up-dow-right);
    font-size: 14px;
    color: var(--blue-detalhes);
  }
  
  .funcao {
    padding-top: 15px;
  }