.ultimas-inscricoes {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
    font-family: var(--font-up-dow-right);
  }
  
  .ultimas {
    width: 466px;
    height: 273px;
  }
  
  .header-ultimas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .link-ultimas a {
    color: var(--blue-entrega);
  }
  
  .ultimas-agendas {
    position: relative;
  }
  
  .ultimas-agendas::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, #FFF 77.9%);
  
  }
  
  .agenda,
  .agenda-especial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-color: #DCEFF8;
    margin-bottom: 3px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .circle,
  .circle-blue,
  .circle-red {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .circle {
    background-color: #41AB34;
  }
  
  .circle-blue {
    background-color: var(--blue-eletro);
  }
  
  .circle-red {
    background-color: #FF6600;
  }
  
  .agenda small {
    font-family: var(--font-up-dow-right);
    color: var(--black-dow-49);
    font-size: 14px;
  }
  
  .agenda-especial small {
    font-family: var(--font-up-dow-right);
    color: var(--black-dow-49);
    font-size: 14px;
    text-decoration: line-through;
  }
  
  .nome {
    width: 180px;
    height: 20;
  }
  
  .curso {
    width: 74px;
    height: 20;
  }
  
  .sport {
    width: 120px;
    height: 20;
  }
  
  .inscricoes {
    width: 317px;
    height: 174px;
  }
  
  .header-inscricoes {
    margin-bottom: 15px;
  }
  
  .geral-porcents {
    display: flex;
  }
  
  .geral-porcents strong,
  small {
    font-family: var(--font-degrade);
  }
  
  .geral-porcents strong {
    font-size: 14px;
  }
  
  .geral-porcents small {
    font-size: 12px;
  }
  
  .str-porcent,
  .sml-porcent {
    color: var(--white-fe);
  }
  
  .str-black,
  .sml-black {
    color: #1A1C20;
  }
  
  .porcent-start,
  .porcent-eletro,
  .porcent-com,
  .porcent-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
  }
  
  .porcent-start {
    background-color: var(--blue-detalhes);
    border-radius: 5px 0px 0px 5px;
  }
  
  .porcent-eletro {
    background-color: var(--blue-eletro);
  }
  
  .porcent-com {
    background-color: var(--blue-comercio);
  }
  
  .porcent-end {
    background-color: #E4F1FA;
    border-radius: 0px 5px 5px 0px;
  }
  
  .legend-porcents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  
  .circle-info,
  .circle-eletro,
  .circle-com,
  .circle-outros {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .circle-info {
    background-color: var(--blue-detalhes);
  }
  
  .circle-eletro {
    background-color: var(--blue-eletro);
  }
  
  .circle-com {
    background-color: var(--blue-comercio);
  }
  
  .circle-outros {
    background-color: #E4F1FA;
  }
  
  .legend {
    display: flex;
    align-items: center;
    font-family: var(--font-up-dow-right);
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .legend strong,
  small {
    color: var(--black-dow-49);
    font-size: 12px;
  }
  
  .outros {
    margin-left: 5px;
  }