.left {
    max-width: 158px;
    height: 854px;
    padding: 25px;
    padding-top: 10px;
    border-right: var(--cinsa-cancel) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .seta-left {
    display: flex;
    align-items: start;
    justify-content: end;
    margin-bottom: 5px;
  }
  
  .botoes-left button,
  .botoes-botton button {
    background-color: #fff;
    border: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0px;
    width: 147px;
    height: 40px;
  }
  
  .botoes-left button:hover {
    background-color: var(--blue-cinsa);
  }
  
  .img-button {
    gap: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .botoes-left button:active .stroke {
    stroke: #fff;
  }
  
  .botoes-left button:active .img-button {
    background-color: var(--blue-escuro-left);
  }
  
  .text-button,
  .text-cinsa {
    color: var(--blue-escuro-left);
    font-family: var(--font-left-center);
    font-size: 14px;
    margin-left: 8px;
  }
  
  .baixo {
    border-top: var(--cinsa-cancel) 1px solid;
    padding-top: 35px;
  }