
html, body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
    color: #656D77;
}

header {
    background-color: #203c86;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    color: white;
}

header .top img {
    width: 20px;
    margin-left: 10px;
}

header .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

header .down .sumario a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* Seção principal */
main {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pipa .title {
    text-align: center;
    margin-bottom: 20px;
}

.pipa .title h2 {
    font-size: 28px;
    font-weight: bold;
}

.pipa .title p {
    font-style: italic;
    color: #203c86;
    font-size: 18px;
}

.pipa img {
    display: block;
    margin: 20px auto;
}


.gallery .imgs {
    display: flex;
    justify-content: space-between;
}


.gallery img {
    width: 100%;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #203c86;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.rodape .contato span {
    display: block;
    margin-top: 5px;
}
